.product-section .row{
    row-gap: 40px;
}

.product-ul{
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.product-info{
    display: flex;
    gap: 15px;
}

.product-info span{
    color: var(--white);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

